<!-- <style>
section{
    background-image: url("public/assets/bg.png");
    background-position: center;
    background-size: cover;
}
</style> -->



<section class="w-full h-screen flex flex-wrap justify-center items-center bg-green-200 overflow-hidden relative">

    <img src="assets/clank2.png" alt="" class="w-screen h-screen move z-0"> 

    <img src="assets/bg2.svg" alt="" class="backdrop-opacity-95 absolute rotate z-0 opacity-85"> 
    
    <div class="w-full flex justify-center">
        <h1 class="w-fit p-3 rounded-lg shadow-2xl text-center font-bold text-5xl text-slate-600 drop-shadow-3xl z-1 relative bg-slate-300 border-slate-700 border-t-4 border-b-4">Conoce mas a Xina</h1>
    </div>

    <article class="relative">

        <div class="">

            <img src="assets/xina.png" alt="" class="w-80 h-120">
    
        </div>



        <div class="backdrop-opacity-95 backdrop-invert shadow-2xl transition-all delay-150 duration-300 ease-in-out hover:h-fit hover:w-96 absolute right-full top-16 h-12 overflow-hidden bg-slate-300 text-slate-800 p-2 ps-3 flex justify-center flex-wrap rounded-md border-slate-700 border-t-4 border-b-4">
            <span class="absolute left-1 top-[40%] flex size-3">
                <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
                <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
              </span>
            
            <h1 class="text-xl w-full text-center">Humedad</h1>

            <p class="w-36">Xina es capaz de detectar el nivel de humedad para informar sobre riesgos o advertencias.</p>

            <img src="assets/humedad.png" alt="" class="w-36 h-36 border-2 border-green-900 rounded-3xl">
        </div>

        <div class="backdrop-opacity-95 backdrop-invert shadow-2xl transition-all delay-150 duration-300 ease-in-out hover:h-fit hover:w-96 absolute left-full top-64 h-12 overflow-hidden bg-slate-300 text-slate-800 p-2 ps-3 flex justify-center flex-wrap rounded-md border-slate-700 border-t-4 border-b-4">
            <span class="absolute left-1 top-[40%] flex size-3">
                <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
                <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
              </span>
            
            <h1 class="text-xl w-full text-center">Iluminacion</h1>

            <p class="w-36">Por medio de sensores de iluminación, Xina es capaz de ajustar la luz del ambiente de manera óptima.</p>

            <img src="assets/luz.png" alt="" class="w-36 h-36 border-2 border-green-900 rounded-3xl">
        </div>

        <div class="backdrop-opacity-95 backdrop-invert shadow-2xl transition-all delay-150 duration-300 ease-in-out hover:h-fit hover:w-96 absolute right-full top-80 h-12 overflow-hidden bg-slate-300 text-slate-800 p-2 ps-3 flex justify-center flex-wrap rounded-md border-slate-700 border-t-4 border-b-4">
            <span class="absolute left-1 top-[40%] flex size-3">
                <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
                <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
              </span>
            
            <h1 class="text-xl w-full text-center">Deteccion</h1>

            <p class="w-36">Xina cuenta con un sistema de sensores que le permiten identificar seres vivos y movimiento.</p>

            <img src="assets/pir.png" alt="" class="w-36 h-36 border-2 border-green-900 rounded-3xl">
        </div>

        <div class="backdrop-opacity-95 backdrop-invert shadow-2xl transition-all delay-150 duration-300 ease-in-out hover:h-fit hover:w-96 absolute left-full top-0 h-12 overflow-hidden bg-slate-300 text-slate-800 p-2 ps-3 flex justify-center items-center flex-wrap rounded-md border-slate-700 border-t-4 border-b-4">
            <span class="absolute left-1 top-[40%] flex size-3">
                <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
                <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
              </span>
            
            <h1 class="text-xl w-full text-center">Temperatura</h1>

            <p class="w-36 text-justify">Gracias a sus sensores de temperatura, Xina es capaz de detectar y analizar la temperatura de tus cultivos para hacer frente a problemas como 
                sequias u olas de calor.</p>

            <img src="assets/temperatura.png" alt="" class="w-36 h-36 ms-2 border-2 border-green-900 rounded-3xl">
        </div>

    </article>


</section>