/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #1E3A28;
    color: #ecf0f1;
    position: fixed;
    left: -250px;  /* Oculto por defecto */
    top: 0;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }


  .sidebar-link:hover {
    background: rgba(255, 255, 255, 0.15);
    color: white;
}

.sidebar-link:hover i {
    color: #ffd700; 
}

  .sidebar-section{
        margin-top: 70px;
  }
  
  .sidebar.active {
    left: 0;  /* Visible cuando está activo */
  }
  
  /* Contenido del sidebar */
  .sidebar-content {
    padding: 20px;
  }
  
  /* Estilos de las secciones */
  .sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ecf0f1;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #ecf0f1;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background 0.3s;
  }
  
  .sidebar a:hover {
    background: #194b2a;
  }
  
  /* Botón de menú */
  .menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #1E3A28;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .menu-btn:hover {
    background: #ceb004;
  }
  